@font-face
{
	font-family: 'Lobster', cursive;
	src: url(Lobster-Regular.ttf);
}
h1 ,h2, h3
{
	font-family: 'Lobster', cursive;
}
.bg-img
{
	background-image: url(cs.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 900px;
	margin-top: -80px;
}
.page-on-scroll 
{
    background: #fff;
    border-bottom-color: #f0f0f0;
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.7,1,.7,1);
} 	
.nav>li>a
{
	color: #000;
}
.info
{
	margin-top: 500px;
	position: relative;
	color: white;
	font-weight: bolder;
	font-size: 70px;
}
.designer
{
	color: white;
	font-size: 25px;
}
.lightbg
{
	background-color: #efefef;
	height: 600px;
}
.about-me
{
	padding-top: 55px;
}
.just-me
{
	padding-top: 100px;
}
.view-btn
{
	padding: 9px 47px;
	border-radius: 22px;
    font-size: 17px;
}
.portfolio
{
	height: 1100px;
	background-color: #fff;
}
.projects-title
{
	color: #fff;
}
.project1
{
	height: 450px;
	background-image: url("screencapture-file-C-xampp-htdocs-btsp2-index-html-1497236948888.png");
	background-repeat: no-repeat;
	background-size: contain;
	margin-right: 3px;
}
.project2
{
	height: 500px;
	background-image: url("screencapture-file-C-xampp-htdocs-psd3-index-html-1497236396698.png");
	background-repeat: no-repeat;
	background-size: contain;
}
.project3
{
	height: 450px;
	background-image: url("screencapture-file-C-xampp-htdocs-psd2-index-html-1497236326262.png");
	background-repeat: no-repeat;
	background-size: contain;
	margin-right: 3px;
}
.project4
{
	height: 500px;
	background-image: url("screencapture-localhost-81-Web-Red-index-html-1497241064251.png");
	background-repeat: no-repeat;
	background-size: contain;
}
.contact
{
	background-color: #efefef;
	height: 300px;
}
.mo-info
{
	/*font-family: 'Lobster', cursive;*/
	line-height: 35px;
	font-weight: bold;
}
.msg
{
	margin-top: 30px;
	width: 100%;
	height: 30px;
	border: none;
	border-bottom: 1px solid grey;
	border-radius: 5px;
	background-color: #efefef;
}
.text-msg
{
	margin-top: 30px;
	width: 100%;
	/*height: 30px;*/
	border: none;
	border-bottom: 1px solid grey;
	border-radius: 5px;
	background-color: #efefef;
}
footer
{
	height: 70px;
	background-color: #fff;

}
footer p 
{
	line-height: 60px;
}
.social
{
	float: right !important;
	padding: 10px;
}
div ul
{
	float: right;
}
/*.projects 
{
	border: 3px solid lightgreen;
	height: 250px;
	background-image: url("screencapture-file-C-xampp-htdocs-btsp2-index-html-1497236948888.png");
	background-size: cover;
	background-repeat: no-repeat;
	opacity: .8;

}
.projects button
{
	display: none;
}
.projects:hover
{
	border: 3px solid orangered;
	transition: 500ms;
	background-image: url("screencapture-file-C-xampp-htdocs-btsp2-index-html-1497236948888.png");
	background-size: cover;
	opacity: 1;
	
}
.projects:hover button
{
	display: block;
	margin-top: 100px;
	transition: 2000ms;
	opacity: 1;
}

*/